<html>
	<head></head>
	<body>
		<svg xmlns='http://www.w3.org/2000/svg' style='stroke: grey; fill: white; stroke-width: 0.5' width='{{.Width}}' height='{{.Height}}'>
			<polygon Points='{{.Box}}' style='stroke:black; fill: none; stroke-width: 0.5'/>
			<polygon Points='{{.User}}' style='stroke:#800000; fill: red; stroke-width: 0.5'/>
			<polygon Points='{{.Temperature}}' style='stroke:black; fill: none; stroke-width: 0.5'/>
			<polygon Points='{{.Iowait}}' style='stroke:#000800; fill: green; stroke-width: 0.5'/>
		</svg>
	</body>
</html>
